<div class="row">
    <div class="col-xs-12">
        <div *ngIf="isLoading && !error" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <ng-template appPlaceholder></ng-template>
        <!-- <app-alert-modal [getMsg]="error" *ngIf="error" (closeHandler)="onCloseModal()"></app-alert-modal> -->
        <form #formRef="ngForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" email
                    #emailRef="ngModel" name="email" ngModel required>
                <span style="color: red;" *ngIf="emailRef.touched &&
                    emailRef.invalid">Please enter Valid Email Adress!</span>
            </div>
 
            <div class="form-group">
                <label for="password">Password</label>  
                <input type="password" id="password" class="form-control"
                    name="password" #passRef="ngModel" minlength="8" ngModel
                    required> 
                <span style="color: red;" *ngIf="passRef.touched &&
                    passRef.invalid">Please enter Valid password!</span>
            </div>
            <div class="mt-4">
                <button class="btn btn-primary" type="submit"
                    [disabled]="!formRef.valid">{{isLogedin ? "Login":"Sign
                    Up"}}</button> |
                <button class="btn btn-primary" type="button"
                    (click)="onSwitch()"> Switch to
                    {{isLogedin ? "Sign up":"Login"}}</button>
            </div>
        </form>
        <div class="alert alert-success mt-3" style="text-align: center;
            margin:0
            auto; width:fit-content;" *ngIf="!isLoading && !error && success "><span
                style="font-size: 2rem;">✅</span><p>{{success}}</p></div>
        <!-- <div class="alert alert-danger mt-3" style="text-align: center; margin:0
            auto; width:fit-content;" *ngIf="!isLoading && error"><p>{{error}}</p></div> -->
    </div>
</div>