<div class="row customize d-flex justify-content-center">
  <div class="row">
    <div class="col-sm-12">
      <a
        href="https://realfood.tesco.com/media/images/Anjalis-tikka-chicken-traybake-d9f43e15-2b54-41bc-b823-c206571b9861-0-1400x919.jpg">
        <img [src]="recievedData.imagePath" alt={{recievedData.name}}
          class="img-fluid card-img"
          style="border-radius:5px; cursor: pointer; width:100%
          ;height:100%;" />
      </a>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-sm-12">
      <h1 class="text-capitalize">{{recievedData.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="dropdown" appDropdown>
        <button class="btn btn-danger dropdown-toggle"
          (click)="showCon=!showCon">Manage</button>
        <ul class="dropdown-menu">
          <li><a class="text-capitalize dropdown-item"
              (click)="sendIngredients()">to shoppinglist</a></li>
          <li><a class="text-capitalize dropdown-item"
              [routerLink]="['/recipes',id,recievedData.name,'edit']">edit
              recipe</a></li>
          <li><a class="text-capitalize dropdown-item " (click)="onDelete()">delete
              recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12"><h5>Every Food Description:</h5>{{recievedData.description}}</div>
  </div>
  <div class="row">
    <div class="col-sm-23">
      <ul class="list-group mt-3">
        <li *ngFor="let item of recievedData.ingredients"
          class="list-group-item" style="cursor: pointer;">{{item.name}}({{item.amount}})</li>
      </ul>
    </div>
  </div>
</div>
