<div class="row">
  <div class="col-">
    <form (ngSubmit)="onSubmit(formRef)" #formRef="ngForm">
      <div class="row fw-semibold">
        <div class="col-sm-6">
          <label for="name">Name</label>
          <input
            title="name"
            placeholder="Name"
            id="name"
            type="text"
            class="form-control"
            name="name"
            ngModel
            required
            />
        </div>
        <div class="col-sm-3">
          <label for="amount">Amount</label>
          <input
            placeholder="Amount"
            title="amount"
            id="amount"
            type="number"
            class="form-control"
            name="amount"
            ngModel
            required
            pattern="^[1-9][0-9]*$"
            />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-sm-7">
          <button class="btn btn-success m-lg-1" [disabled]="!formRef.valid"
            type="submit">{{editMode? 'Update':'Edit'}}</button>
          <button class="btn btn-danger m-lg-1" *ngIf="editMode" (click)="onDelete()" type="button">Delete</button>
          <button class="btn btn-primary m-lg-1" (click)="onClear()" type="button">Clear</button>
        </div>
      </div>
    </form>

  </div>
</div>
